@{
    ViewBag.Title = "Student Grade";
}
<h2 class="text-default">@ViewBag.Title.</h2>
<p class="text-default">
    The students need to follow the game. They have an appropriate selection which then promotes students to another level of the chain of scenarios. The students need to be addressing each step rationally and adequately to reach the end of the game.
    When they reach the end or any point that they select as an inappropriate option, the program requires the student to present an explanation into the comment box to describe the reason why they feel the best choice has been selected.
    The information provided in the comment box is then forwarded to the admin/professor. Students are graded on their performance.
</p>
