@{
    ViewBag.Title = "Contact Form";
}
<h2>@ViewBag.Title.</h2>

<h4>Concordia Unversity University - Natural Science Department </h4>
<address>
    Address: 12800 N. Lake Shore Dr.<br />
    Mequon, WI - 53097<br />
    <abbr title="Phone">Phone:</abbr>
    262.243.4495
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Rochelle.VanHart@cuw.edu</a><br />
    <strong>Admin/Manager:</strong> <a href="mailto:Marketing@example.com">Jessica.Loppnow@cuw.edu</a>
</address>
<!-- Forms
      ================================================== -->
