@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CUW Address goes here<br />
    City, State 12345-6789<br />
    <abbr title="Phone">P:</abbr>
    414.123.4567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">email place holder for support person</a><br />
    <strong>Admin/Manager:</strong> <a href="mailto:Marketing@example.com">place holder for admin or manager email</a>
</address>