
@{
    ViewBag.Title = "Help";

}
<h2 class="text-primary">Human Intestinal Epithelial Cells</h2>
<div class="container">
    <section>
        <div class="row">
            <div class="col-md-10">
                <h3 class="txt-tl text-primary">Function</h3>
                <h4 class="txt-tl">Function of Intestinal Epithelial Cells:</h4>
                <p>Columnar epithelial cells line the lumen of the intestinal tract and are important for absorption of nutrients. These cells contain microvilli, or small projections, to increase surface area and maximize nutrient absorption.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <h3 class="txt-tl text-primary">Shape and Features</h3>
                <h4 class="txt-tl">Shape and Features of Intestinal Epithelial Cells:</h4>
                <p>Columnar epithelial cells can vary in shape and size, but most are around 30 microns in width and 50 microns in length. The microvilli  projections are typically around 1-2 microns in length. Epithelial cells have a basal surface that is anchored to a basement membrane and a apical surface that faces the intestinal lumen. Like most human cells, these cells contain organelles and a nucleus for normal daily functions.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <h3 class="txt-tl text-primary">Life span</h3>
                <h4 class="txt-tl">Life Span and Cycle of Intestinal Epithelial Cells:</h4>
                <p>Epithelial cells undergo mitosis to regenerate the population of cells found within the gut. These cells progress through the cell cycle when appropriate and finally reach M phase, in which they divide into 2 identical daughter cells. Due to the environment and friction in the gut, the typical life-span of an intestinal epithelial cell is 4-5 days.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <h3 class="txt-tl text-primary">Nutrition</h3>
                <h4 class="txt-tl">Nutrition for Epithelial Cells:</h4>
                <p>Epithelial cells require glucose for the process of glycolysis and cellular respiration to provide energy for normal cellular function. Normal glucose levels in the blood range between 70-140 mg/dl.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><a href="/Game" class="btn btn-primary pull-right text-right">Play Game</a></p>
            </div>
        </div>
    </section>
</div>

