@{
    ViewBag.Title = "Home Page";
    
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>text place holder.</p>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Future Enhancements</h2>
        <p>text place holder.</p>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>header place holder</h2>
        <p>text place holder.</p>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>
</div>