@{
    ViewBag.Title = "Home Page";

}

<section>
    <!--well-->
    <div class="well-lg">
        <div class="container text-center">
            <h2 class="text-justify">The application is used for helping students learn the different processes of the cell life cycle</h2>
            <p class="text-justify">The students would use the app as a study tool. It will help them understand the cell life cycle from beginning to end. The game could enhance the educational understanding for students as well as helping the instructors to be more creative.</p>
        </div>
    </div>
</section>

<div class="container">
    <section>
        <div class="row">
            <div class="col-md-4">
                <h3 class="txt-tl">Getting started</h3>
                <p>Cell Game is an interactive game. The student will be involved in issues pertaining to cell life cycle.</p>
                <img style="height: 300px; width: 100%; display: block;" src="~/Content/images/CellBio01B.jpg" alt="Card image">
                <p><a href="/Game" class="btn btn-primary">Select Scenario &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h3 class="txt-tl">Student Grades</h3>
                <p>Students also grades on their performance. Students can then view their grades by logging into their profile.</p>
                <img style="height: 300px; width: 100%; display: block;" src="~/Content/images/CellBio02A.jpg" alt="Card image">
                <p><a href="/Game/GameResultIndex" class="btn btn-primary">View Grade &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h3 class="txt-tl">Create New Scenario</h3>
                <p>The professor and Students have the ability to modify and add more scenarios.</p>
                <img style="height: 300px; width: 100%; display: block;" src="~/Content/images/CellBio03B.jpg" alt="Card image">
                <p><a href="/Game/Create" class="btn btn-primary text-center">Learn more &raquo;</a></p>
            </div>
        </div>
    </section>
</div>

