@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>The Cell Game Project baisc like choose your own advanture path. 
    The Cell Game that help student of Science Department that learn and study to understand more about the cell biology. 
    We want to bring this Cell Game to student to understand Cell division and student make their own decision 
    about the cell that will help student get more exprience the Cell die or live depend on their choose.</p>
