@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Computer Science Department <br />
    12800 N Lake Shore Dr, Mequon, WI 5309<br />
    Mequon, WI 5309<br />
    <abbr title="Phone">P:</abbr>
    262.243.5700
</address>

<address>
    <strong>Support:</strong> <a href="mailto:gary.locklair@cuw.edu">Gary.Locklair@cuw.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:gary.locklair@cuw.edu">Gary.Locklair@cuw.edu</a>
</address>
